<nav class="navbar navbar-dark" style="background-color: rgb(59, 36, 36);">
    <!-- Navbar content -->
      <a class="navbar-brand" routerLink="/"><img src="../../../assets/logo.png" width="30" height="30" alt="logo" class="d-inline-block align-top"> W3M </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chords
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/gchords">Guitar Chords</a>
              <a class="dropdown-item" routerLink="/bchords">Bass Chords</a>
              <a class="dropdown-item" routerLink="/pchords">Piano Chords</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/4chords">4chords <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
