<div class="album py-5 bg-light"><br>
    <div class = "container">
            <div class="text-center">
                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                            <button type="button" li class="btn btn-secondary"><a routerLink="/gchords/a" ><font color=white>A</font></a></button>
                            <button type="button" class="btn btn-dark"><a routerLink="/gchords/bb"><font color=white>Bb</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/b"><font color=white>B</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/c"><font color=white>C</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/c#"><font color=white>C#</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/d"><font color=white>D</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/eb"><font color=white>Eb</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/e"><font color=white>E</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/f"><font color=white>F</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/f#"><font color=white>F#</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/g"><font color=white>G</font></a></button>
                            <button type="button" class="btn btn-secondary"><a routerLink="/gchords/g#"><font color=white>G#</font></a></button>
                    </div>
                    </div><br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img src="../../../../assets/B/B.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h1 class="card text-center">B</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img src="../../../../assets/B/B7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1 class="card text-center">B7</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/B/Bm.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bm</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 18rem;">
                        <img src="../../../../assets/B/Bm7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h1 class="card text-center">Bm7</h1>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/B/Bmaj7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bmaj7</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/B/Bsus2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bsus2</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../assets/B/Bsus4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bsus4</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
