<div class="container pages pb-5"><br>
<ul class="list-unstyled">
    <li class="media" >
      <img src="../../../assets/guitar.jpg" width="200" height="200" class="mr-3" alt="คอร์ดกีตาร์" routerLink="/gchords">
      <div class="media-body" ><br><br>
        <h1 class="mt-0 mb-1" routerLink="gchords">คอร์ดกีตาร์</h1>
        วิธีการกดคอร์ดพื้นฐานสำหรับกีตาร์
      </div>
    </li><br>
    <li class="media">
      <img src="../../../assets/bass.jpg" width="200" height="200" class="mr-3" alt="คอร์ดเบส" routerLink="/bchords">
      <div class="media-body"><br><br>
        <h1 class="mt-0 mb-1" routerLink="bchords">คอร์ดเบส</h1>
        วิธีการกดคอร์ดพื้นฐานสำหรับเบส
      </div>
    </li><br>
    <li class="media">
        <img src="../../../assets/piano.jpg" width="200" height="200" class="mr-3" alt="คอร์ดคีย์บอร์ด/เปียโน" routerLink="/pchords">
        <div class="media-body"><br><br>
          <h1 class="mt-0 mb-1" routerLink="pchords">คอร์ดคีย์บอร์ด/เปียโน</h1>
        วิธีการกดคอร์ดพื้นฐานสำหรับตีย์บอร์ด/เปียโน  
        </div>
      </li><br>
    <li class="media">
      <img src="../../../assets/person-822850_640.jpg" width="200" height="200" class="mr-3" alt="คอร์ดวน" routerLink="/4chords">
      <div class="media-body"><br><br>
        <h1 class="mt-0 mb-1" routerLink="/4chords">เพลงง่าย 4 คอร์ดวน</h1>
        เพลงง่ายๆที่เหมาะสำหรับการเริ่มต้นเล่นดนตรี
      </div>
    </li>
  </ul>
</div>