<div class="album py-5 bg-light"><br>
    <div class = "container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img src="../../../../assets/Bb/Bb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h1 class="card text-center">Bb</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img src="../../../../assets/Bb/Bb7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1 class="card text-center">Bb7</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/Bb/Bbm.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bbm</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 18rem;">
                        <img src="../../../../assets/Bb/Bbm7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h1 class="card text-center">Bbm7</h1>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/Bb/Bbmaj7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bbmaj7</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/Bb/Bbsus2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bbsus2</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../assets/Bb/Bbsus4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Bbsus4</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
