<div class="album py-5 bg-light"><br>
    <div class = "container">
        <div class="text-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <button type="button" li class="btn btn-secondary"><a routerLink="/pchords/pa" ><font color=white>A</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pbb"><font color=white>Bb</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pb"><font color=white>B</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pc"><font color=white>C</font></a></button>
                    <button type="button" class="btn btn-dark"><a routerLink="/pchords/pc#"><font color=white>C#</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pd"><font color=white>D</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/peb"><font color=white>Eb</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pe"><font color=white>E</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pf"><font color=white>F</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pf#"><font color=white>F#</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pg"><font color=white>G</font></a></button>
                    <button type="button" class="btn btn-secondary"><a routerLink="/pchords/pg#"><font color=white>G#</font></a></button>
        </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img src="../../../../assets/PianoC1/C1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h1 class="card text-center">C#</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img src="../../../../assets/PianoC1/C17.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1 class="card text-center">C#7</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/PianoC1/C1m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">C#m</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 18rem;">
                        <img src="../../../../assets/PianoC1/C1m7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h1 class="card text-center">C#m7</h1>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/PianoC1/C1maj7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">C#maj7</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/PianoC1/C1sus2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">C#sus2</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/PianoC1/C1sus4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">C#sus4</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
