<div class="album py-5 bg-light"><br>
    <div class = "container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img src="../../../../assets/F/F.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h1 class="card text-center">F</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img src="../../../../assets/F/F7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1 class="card text-center">F7</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/F/Fm.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Fm</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 18rem;">
                        <img src="../../../../assets/F/Fm7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h1 class="card text-center">Fm7</h1>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/F/Fmaj7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Fmaj7</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/F/Fsus2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Fsus2</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../assets/F/Fsus4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Fsus4</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
