<div class="album py-5 bg-light"><br>
    <div class = "container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img src="../../../../assets/G1/G1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h1 class="card text-center">G#</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img src="../../../../assets/G1/G17.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1 class="card text-center">G#7</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/G1/G1m.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">G#m</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 18rem;">
                        <img src="../../../../assets/G1/G1m7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h1 class="card text-center">G#m7</h1>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/G1/G1maj7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">G#maj7</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/G1/G1sus2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">G#sus2</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../assets/G1/G1sus4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">G#sus4</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
