<div class="album py-5 bg-light"><br>
    <div class = "container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img src="../../../../assets/A/A.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h1 class="card text-center">A</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img src="../../../../assets/A/A7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1 class="card text-center">A7</h1>
            </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/A/Am.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Am</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 18rem;">
                        <img src="../../../../assets/A/Am7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h1 class="card text-center">Am7</h1>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/A/Amaj7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Amaj7</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/A/Asus2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Asus2</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <img src="../../../../assets/A/Asus4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h1 class="card text-center">Asus4</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
