<div class="container pages pb-5"><br>
    <ul class="list-unstyled">
        <li class="media" >
          <img src="../../../assets/Chords/ปู่จ๋าน.jpg" width="200" height="200" class="mr-3" alt="คอร์ดกีตาร์" routerLink="/4chords/pmc">
          <div class="media-body" ><br><br>
            <h1 class="mt-0 mb-1" routerLink="/4chords/pmc">ตราบธุรีดิน - ปู่จ๋าน ลองไมค์</h1>
          </div>
        </li><br>
        <li class="media" >
            <img src="../../../assets/Chords/paradox.jpg" width="200" height="200" class="mr-3" alt="คอร์ดกีตาร์" routerLink="/4chords/love-paradox">
            <div class="media-body" ><br><br>
              <h1 class="mt-0 mb-1" routerLink="/4chords/love-paradox">love - Paradox</h1>
            </div>
          </li><br>
          <li class="media" >
            <img src="../../../assets/UrboyTJ.jpg" width="200" height="200" class="mr-3" alt="คอร์ดกีตาร์" routerLink="/4chords/kaokon-UrboyTJ">
            <div class="media-body" ><br><br>
              <h1 class="mt-0 mb-1" routerLink="/4chords/kaokon-UrboyTJ">เค้าก่อน - UrboyTJ</h1>
            </div>
          </li><br>
          <li class="media" >
            <img src="../../../assets/Chords/Ammy the bottom blues.jpg" width="200" height="200" class="mr-3" alt="คอร์ดกีตาร์" routerLink="/4chords/kebruk-AmmyTheBottomBlues">
            <div class="media-body" ><br><br>
              <h1 class="mt-0 mb-1" routerLink="/4chords/kebruk-AmmyTheBottomBlues">เก็บรัก - Ammy The Bottom Blues</h1>
            </div>
          </li><br>
          <li class="media" >
            <img src="../../../assets/Chords/ชาติ สุชาติ.jpeg" width="200" height="200" class="mr-3" alt="คอร์ดกีตาร์" routerLink="/4chords/backpack-ชาติ_สุชาติ">
            <div class="media-body" ><br><br>
              <h1 class="mt-0 mb-1" routerLink="/4chords/backpack-ชาติ_สุชาติ">การเดินทาง(backpack) - ชาติ สุชาติ</h1>
            </div>
          </li><br>
      </ul>
    </div>